In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import statistics

In [3]:
df = sns.load_dataset('mpg')

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

### Mean = Average = sum of values / number of values

In [5]:
statistics.mean(df['mpg'])

23.514572864321607

In [6]:
df.mean()

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_13420\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model_year        76.010050
dtype: float64

### Median : middle value when arranged in increasing order, if even number of data then, middle two values ka mean

In [7]:
statistics.median(df['mpg'])

23.0

In [8]:
df.median()

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_13420\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model_year        76.0
dtype: float64

### Mode : data that occurs with the most frequency

In [9]:
statistics.mode(df['mpg'])

13.0

In [10]:
df.mode()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,13.0,4.0,97.0,150.0,1985,14.5,73.0,usa,ford pinto
1,NaN,NaN,NaN,NaN,2130,NaN,NaN,NaN,NaN

In [11]:
## here we get 2 modes for weight since both 1985 and 2130 occur same number of times