In [2]:
import statistics
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset('mpg')

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

### Range

In [10]:
df['mpg'].max()-df['mpg'].min()

37.6

### variance

In [11]:
statistics.variance(df['mpg'])

61.0896107742744

### standard deviation

In [12]:
statistics.pstdev(df['mpg'])

7.806159061274432

### quartile , in describe 25% is first quartile, 50% is second and 75% is third

In [13]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [14]:
## so for eg. for mpg 25% data is less than 17.5, 50% is less than 23 and 75% is less than 29

### coefficient of variation

In [17]:
cov_mpg = (statistics.pstdev(df['mpg'])/statistics.mean(df['mpg']))*100
cov_weight = (statistics.pstdev(df['weight'])/statistics.mean(df['weight']))*100

In [18]:
cov_mpg

33.19711187745463

In [19]:
cov_weight

28.47327708429478

In [20]:
## thus we see, weight is a less variable data column compared to mpg

In [21]:
df.skew()

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_10464\1665899112.py:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.skew()

mpg             0.457066
cylinders       0.526922
displacement    0.719645
horsepower      1.087326
weight          0.531063
acceleration    0.278777
model_year      0.011535
dtype: float64

In [23]:
df.kurtosis()

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_10464\615572439.py:1: FutureWarning: The default value of numeric_only in DataFrame.kurt is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.kurtosis()

mpg            -0.510781
cylinders      -1.376662
displacement   -0.746597
horsepower      0.696947
weight         -0.785529
acceleration    0.419497
model_year     -1.181232
dtype: float64

In [28]:
15/16

0.9375