In [19]:
import numpy as np
import seaborn as sns

In [20]:
df = sns.load_dataset('mpg')

In [21]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [22]:
## Finding a random sample of 10

In [23]:
Random_s = df.sample(10)
Random_s

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
263,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
129,31.0,4,79.0,67.0,1950,19.0,74,japan,datsun b210
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
220,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
197,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
250,19.4,8,318.0,140.0,3735,13.2,78,usa,dodge diplomat
302,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
351,34.4,4,98.0,65.0,2045,16.2,81,usa,ford escort 4w
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger

In [24]:
## finding systematic random samples at intervals of 20

In [25]:
x = np.arange(0,len(df),20)
df.iloc[x]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
140,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
160,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
200,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
220,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
260,18.6,6,225.0,110.0,3620,18.7,78,usa,dodge aspen
280,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe

In [28]:
# stratified random sampling by selecting 10 samples from each subgroup : europe, asia,japan

In [29]:
df.groupby('origin').sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
332,29.8,4,89.0,62.0,1845,15.3,80,europe,vokswagen rabbit
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
353,33.0,4,105.0,74.0,2190,14.2,81,europe,volkswagen jetta
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
51,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
175,29.0,4,90.0,70.0,1937,14.0,75,europe,volkswagen rabbit
142,26.0,4,79.0,67.0,1963,15.5,74,europe,volkswagen dasher
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
362,24.2,6,146.0,120.0,2930,13.8,81,japan,datsun 810 maxima
129,31.0,4,79.0,67.0,1950,19.0,74,japan,datsun b210
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
110,22.0,4,108.0,94.0,2379,16.5,73,japan,datsun 610
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
225,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
201,18.5,6,250.0,110.0,3645,16.2,76,usa,pontiac ventura sj
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
296,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
97,18.0,6,225.0,105.0,3121,16.5,73,usa,plymouth valiant
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala

In [32]:
df['origin'].value_counts()

origin
usa       249
japan      79
europe     70
Name: count, dtype: int64

In [36]:
# since distribution of usa, japan and europe is unequal, instead of taking 10 values of each, take 1% of 
# each subgroup
# above one is disproportionate startified sampling while below one is proportionate stratified sampling

In [37]:
df.groupby('origin').sample(frac=0.1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom
114,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
77,22.0,4,121.0,76.0,2511,18.0,72,europe,volkswagen 411 (sw)
51,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
182,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
345,35.1,4,81.0,60.0,1760,16.1,81,japan,honda civic 1300
144,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
173,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
294,34.1,4,86.0,65.0,1975,15.2,79,japan,maxda glc deluxe
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
287,16.5,8,351.0,138.0,3955,13.2,79,usa,mercury grand marquis
284,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
195,29.0,4,85.0,52.0,2035,22.2,76,usa,chevrolet chevette
350,34.7,4,105.0,63.0,2215,14.9,81,usa,plymouth horizon 4
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
83,28.0,4,98.0,80.0,2164,15.0,72,usa,dodge colt (sw)
283,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
128,15.0,6,250.0,100.0,3336,17.0,74,usa,chevrolet nova
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
352,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
133,16.0,6,250.0,100.0,3781,17.0,74,usa,chevrolet chevelle malibu classic
58,25.0,4,97.5,80.0,2126,17.0,72,usa,dodge colt hardtop
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix